<mat-card>
    <div>
        <mat-form-field>
            <mat-label>Page title</mat-label>
            <input matInput [(ngModel)]="layoutService.title" placeholder="Page title">
        </mat-form-field>
    </div>
    <div>
        <mat-slide-toggle [(ngModel)]="layoutService.useBackgroundAnimation">Use background animation</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle [(ngModel)]="layoutService.showWaitingAnimation">Show the "waiting animation"
        </mat-slide-toggle>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Drawer position</mat-label>
            <mat-select [(ngModel)]="layoutService.hamburgerMenuButtonPosition">
                <mat-option value="left" >
                    left
                </mat-option>
                <mat-option value="right">
                    right
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>
<mat-card style="white-space: pre-line;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Aenean vel elit scelerisque mauris. In dictum non consectetur a. In iaculis nunc
    sed
    augue. Nisl purus in mollis nunc sed id. Sem integer vitae justo eget magna fermentum iaculis. Lectus
    nulla
    at volutpat diam ut. Suspendisse faucibus interdum posuere lorem ipsum dolor sit. Eget est lorem ipsum
    dolor
    sit amet. Lectus urna duis convallis convallis. Felis donec et odio pellentesque diam volutpat commodo.
    Nibh
    nisl condimentum id venenatis a condimentum. Leo vel fringilla est ullamcorper eget. Ornare massa eget
    egestas purus viverra accumsan in. In ante metus dictum at tempor. Duis convallis convallis tellus id
    interdum velit laoreet id donec.

    Arcu vitae elementum curabitur vitae nunc sed velit. Nunc vel risus commodo viverra maecenas accumsan
    lacus
    vel. Purus sit amet volutpat consequat mauris. Tincidunt lobortis feugiat vivamus at. Netus et malesuada
    fames ac turpis egestas integer. Elementum facilisis leo vel fringilla est ullamcorper. Quis varius quam
    quisque id diam vel quam elementum. Nunc consequat interdum varius sit amet mattis vulputate enim nulla.
    Vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Dolor magna eget est lorem ipsum dolor.
    Quam
    quisque id diam vel quam. Ut lectus arcu bibendum at varius vel pharetra vel. Tempus imperdiet nulla
    malesuada pellentesque. Praesent tristique magna sit amet purus. Leo urna molestie at elementum eu
    facilisis
    sed odio morbi. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Feugiat in fermentum
    posuere
    urna nec tincidunt. Fusce ut placerat orci nulla pellentesque dignissim enim sit. Pellentesque massa
    placerat duis ultricies lacus sed turpis. Auctor elit sed vulputate mi sit amet mauris commodo quis.

    Eros in cursus turpis massa tincidunt dui ut. Tincidunt augue interdum velit euismod in. Leo in vitae
    turpis
    massa sed. Leo duis ut diam quam. Ipsum suspendisse ultrices gravida dictum fusce ut. Urna cursus eget
    nunc
    scelerisque viverra mauris in aliquam sem. Risus ultricies tristique nulla aliquet enim. Libero volutpat
    sed
    cras ornare arcu dui vivamus arcu. Mauris vitae ultricies leo integer malesuada nunc vel risus. Massa
    ultricies mi quis hendrerit. Amet massa vitae tortor condimentum lacinia quis vel eros. Est placerat in
    egestas erat.

    Magna etiam tempor orci eu. Risus pretium quam vulputate dignissim suspendisse in. Maecenas sed enim ut
    sem
    viverra aliquet eget. Porttitor rhoncus dolor purus non enim. Aliquam purus sit amet luctus venenatis
    lectus
    magna fringilla urna. Habitant morbi tristique senectus et netus. Nibh tortor id aliquet lectus proin
    nibh
    nisl. Fermentum leo vel orci porta non pulvinar neque laoreet. Adipiscing at in tellus integer feugiat
    scelerisque varius morbi. In massa tempor nec feugiat nisl pretium fusce id velit. Convallis a cras
    semper
    auctor neque. Dignissim convallis aenean et tortor at risus. Tincidunt arcu non sodales neque sodales ut
    etiam. Tellus molestie nunc non blandit massa enim nec. Neque convallis a cras semper auctor neque
    vitae.
    Phasellus egestas tellus rutrum tellus pellentesque. Et pharetra pharetra massa massa ultricies mi quis.
    Velit egestas dui id ornare arcu odio ut sem. Fames ac turpis egestas integer eget aliquet nibh. Enim
    sed
    faucibus turpis in.

    Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Faucibus et molestie ac feugiat
    sed
    lectus vestibulum mattis. In metus vulputate eu scelerisque. Senectus et netus et malesuada fames ac
    turpis
    egestas maecenas. Eu feugiat pretium nibh ipsum consequat nisl vel pretium. Lacinia at quis risus sed
    vulputate. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Ipsum dolor sit amet
    consectetur adipiscing elit. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Nam at
    lectus
    urna duis convallis convallis tellus.

    Risus viverra adipiscing at in. Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
    Nisi
    lacus sed viverra tellus in hac habitasse. Non tellus orci ac auctor augue. Suspendisse potenti nullam
    ac
    tortor vitae. Euismod lacinia at quis risus sed vulputate odio ut. Nullam vehicula ipsum a arcu cursus.
    Pharetra pharetra massa massa ultricies. Ullamcorper velit sed ullamcorper morbi. Tellus at urna
    condimentum
    mattis. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Viverra accumsan in
    nisl
    nisi scelerisque eu ultrices vitae. Ornare arcu dui vivamus arcu felis bibendum ut tristique. Nibh
    tellus
    molestie nunc non blandit massa enim nec dui.

    Auctor elit sed vulputate mi. Quam pellentesque nec nam aliquam sem et tortor. Diam vel quam elementum
    pulvinar etiam non quam lacus suspendisse. Mollis nunc sed id semper risus in hendrerit. Viverra mauris
    in
    aliquam sem fringilla ut morbi tincidunt augue. Arcu ac tortor dignissim convallis aenean et tortor at
    risus. Imperdiet sed euismod nisi porta lorem mollis. Et malesuada fames ac turpis egestas maecenas
    pharetra
    convallis posuere. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Sed augue lacus
    viverra
    vitae. Molestie ac feugiat sed lectus. Nibh mauris cursus mattis molestie a iaculis at erat
    pellentesque.
    Tortor vitae purus faucibus ornare suspendisse sed nisi. Laoreet sit amet cursus sit amet dictum sit
    amet.
    Venenatis lectus magna fringilla urna porttitor. Ut morbi tincidunt augue interdum velit euismod in. Sed
    vulputate mi sit amet mauris commodo quis imperdiet massa. Porta non pulvinar neque laoreet. Posuere
    lorem
    ipsum dolor sit amet consectetur adipiscing.

    Cras adipiscing enim eu turpis. Leo duis ut diam quam nulla porttitor. Suspendisse sed nisi lacus sed.
    Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Faucibus pulvinar elementum integer
    enim neque volutpat ac tincidunt. Viverra nibh cras pulvinar mattis nunc sed. Sodales ut etiam sit amet
    nisl. Sed felis eget velit aliquet sagittis id consectetur purus. Faucibus purus in massa tempor nec
    feugiat
    nisl pretium fusce. Justo laoreet sit amet cursus sit amet dictum sit amet. Ac odio tempor orci dapibus
    ultrices in iaculis nunc. In vitae turpis massa sed elementum tempus egestas sed sed. Mattis enim ut
    tellus
    elementum sagittis. Fermentum leo vel orci porta non pulvinar neque. Volutpat maecenas volutpat blandit
    aliquam etiam. Tempus iaculis urna id volutpat. Aliquet nec ullamcorper sit amet risus nullam.

    Lacus vestibulum sed arcu non odio euismod. Tortor pretium viverra suspendisse potenti nullam ac tortor
    vitae. Pulvinar proin gravida hendrerit lectus. Pretium aenean pharetra magna ac placerat vestibulum.
    Nunc
    pulvinar sapien et ligula ullamcorper malesuada. Ornare suspendisse sed nisi lacus sed viverra tellus.
    Fringilla est ullamcorper eget nulla. Sit amet purus gravida quis blandit. Non curabitur gravida arcu ac
    tortor dignissim convallis. Accumsan sit amet nulla facilisi morbi tempus iaculis. Scelerisque felis
    imperdiet proin fermentum leo vel orci porta non. Sem et tortor consequat id porta nibh venenatis.
    Congue
    mauris rhoncus aenean vel elit scelerisque mauris pellentesque.

    Justo laoreet sit amet cursus sit amet dictum sit. A cras semper auctor neque vitae tempus quam
    pellentesque. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. In massa
    tempor
    nec feugiat. Vel facilisis volutpat est velit egestas dui id. Cursus turpis massa tincidunt dui ut
    ornare
    lectus sit. Non curabitur gravida arcu ac. Morbi tempus iaculis urna id volutpat lacus laoreet. Elit at
    imperdiet dui accumsan sit. Massa enim nec dui nunc mattis enim ut tellus elementum. Lacus viverra vitae
    congue eu consequat ac felis donec et. At tempor commodo ullamcorper a lacus vestibulum sed arcu non.
    Nulla
    pellentesque dignissim enim sit amet.

    Viverra nam libero justo laoreet. In mollis nunc sed id semper risus in. Mi sit amet mauris commodo quis
    imperdiet massa tincidunt. Tortor dignissim convallis aenean et tortor at risus viverra. Lobortis
    scelerisque fermentum dui faucibus in ornare quam viverra orci. Porta lorem mollis aliquam ut porttitor
    leo
    a. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Venenatis urna
    cursus
    eget nunc scelerisque. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus.
    Fermentum
    posuere urna nec tincidunt. Nisl purus in mollis nunc sed id. Cras adipiscing enim eu turpis egestas.
    Velit
    egestas dui id ornare. Pellentesque massa placerat duis ultricies lacus sed turpis. Elit eget gravida
    cum
    sociis natoque penatibus. Amet justo donec enim diam. Lectus quam id leo in vitae turpis. Enim sed
    faucibus
    turpis in eu. Risus ultricies tristique nulla aliquet enim tortor at auctor. Lectus sit amet est
    placerat in
    egestas erat imperdiet sed.

    Nunc sed blandit libero volutpat sed cras ornare arcu dui. Aliquet enim tortor at auctor urna nunc. In
    nulla
    posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. In est ante in nibh mauris cursus
    mattis
    molestie. Duis tristique sollicitudin nibh sit amet commodo nulla. Imperdiet dui accumsan sit amet nulla
    facilisi morbi tempus. Fusce ut placerat orci nulla pellentesque dignissim enim sit. Facilisi nullam
    vehicula ipsum a arcu. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Lorem dolor sed
    viverra ipsum nunc aliquet bibendum enim. Sem viverra aliquet eget sit amet tellus. Vulputate ut
    pharetra
    sit amet aliquam id diam.

    Eu mi bibendum neque egestas congue quisque egestas diam in. Urna neque viverra justo nec ultrices dui.
    Faucibus turpis in eu mi bibendum neque. Augue mauris augue neque gravida in fermentum et sollicitudin
    ac.
    Massa tincidunt dui ut ornare lectus sit amet est placerat. Nibh ipsum consequat nisl vel pretium
    lectus.
    Vitae et leo duis ut. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Nulla aliquet
    enim
    tortor at. Integer quis auctor elit sed vulputate mi sit. Diam in arcu cursus euismod quis. Semper
    viverra
    nam libero justo. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Purus in mollis nunc sed
    id
    semper. Lobortis scelerisque fermentum dui faucibus in ornare quam. Amet venenatis urna cursus eget nunc
    scelerisque viverra. Quis commodo odio aenean sed adipiscing.

    Sed felis eget velit aliquet sagittis id consectetur. Neque ornare aenean euismod elementum nisi.
    Venenatis
    cras sed felis eget velit aliquet sagittis id. Gravida rutrum quisque non tellus orci. Amet porttitor
    eget
    dolor morbi non arcu risus. Vivamus at augue eget arcu dictum varius duis at consectetur. Amet purus
    gravida
    quis blandit turpis cursus in. Tortor dignissim convallis aenean et. Turpis egestas maecenas pharetra
    convallis posuere morbi leo urna. Ultrices tincidunt arcu non sodales neque. Neque egestas congue
    quisque
    egestas diam in arcu cursus. Quam viverra orci sagittis eu volutpat odio. In nibh mauris cursus mattis
    molestie a iaculis at. Volutpat sed cras ornare arcu dui vivamus arcu. Blandit turpis cursus in hac
    habitasse platea dictumst quisque sagittis. Magna fermentum iaculis eu non. Maecenas ultricies mi eget
    mauris pharetra et ultrices neque. At augue eget arcu dictum varius duis at.

    Sed pulvinar proin gravida hendrerit lectus. Nulla facilisi etiam dignissim diam quis enim lobortis
    scelerisque. Quis hendrerit dolor magna eget est lorem ipsum. Molestie at elementum eu facilisis sed
    odio
    morbi quis commodo. Vitae elementum curabitur vitae nunc sed velit. Varius sit amet mattis vulputate
    enim
    nulla. Eget sit amet tellus cras adipiscing enim. Sit amet aliquam id diam maecenas. Faucibus a
    pellentesque
    sit amet porttitor. Vulputate dignissim suspendisse in est ante. Quis risus sed vulputate odio ut enim.
    Netus et malesuada fames ac. Elit pellentesque habitant morbi tristique senectus et netus et.

    Feugiat in fermentum posuere urna. Dictum non consectetur a erat nam. Senectus et netus et malesuada
    fames
    ac. Fames ac turpis egestas maecenas. Rhoncus est pellentesque elit ullamcorper. Amet risus nullam eget
    felis eget. Ut consequat semper viverra nam libero justo laoreet. Diam vel quam elementum pulvinar etiam
    non. Nulla facilisi morbi tempus iaculis urna id. Velit laoreet id donec ultrices tincidunt arcu non
    sodales
    neque.

    Feugiat nibh sed pulvinar proin gravida. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Urna
    nunc
    id cursus metus aliquam eleifend. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.
    Tortor dignissim convallis aenean et tortor at risus. Neque vitae tempus quam pellentesque nec.
    Ultricies
    lacus sed turpis tincidunt id. Nunc vel risus commodo viverra maecenas. Ac orci phasellus egestas
    tellus.
    Egestas diam in arcu cursus euismod quis viverra. Arcu cursus vitae congue mauris rhoncus. Massa sapien
    faucibus et molestie ac feugiat. Morbi leo urna molestie at elementum eu facilisis. Eu facilisis sed
    odio
    morbi quis commodo odio aenean sed. Urna id volutpat lacus laoreet non curabitur gravida arcu. Sem
    viverra
    aliquet eget sit amet tellus cras.

    Vulputate mi sit amet mauris. In pellentesque massa placerat duis ultricies lacus. Enim nulla aliquet
    porttitor lacus luctus. Vitae justo eget magna fermentum. Nisl suscipit adipiscing bibendum est
    ultricies
    integer quis. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Vitae sapien pellentesque
    habitant morbi tristique senectus. Nunc consequat interdum varius sit amet mattis vulputate. Consectetur
    adipiscing elit ut aliquam purus sit amet. Sed tempus urna et pharetra pharetra massa massa ultricies
    mi.
    Turpis tincidunt id aliquet risus.

    Urna cursus eget nunc scelerisque viverra mauris in. Cum sociis natoque penatibus et. Ullamcorper
    dignissim
    cras tincidunt lobortis feugiat. Viverra mauris in aliquam sem fringilla. Vulputate mi sit amet mauris
    commodo quis imperdiet massa. Vel eros donec ac odio tempor. Sodales neque sodales ut etiam. In ante
    metus
    dictum at tempor commodo ullamcorper a. Adipiscing commodo elit at imperdiet dui accumsan sit. Curabitur
    vitae nunc sed velit dignissim sodales ut eu sem.

    Arcu bibendum at varius vel pharetra vel turpis nunc eget. Sed sed risus pretium quam vulputate
    dignissim
    suspendisse in. Urna nec tincidunt praesent semper feugiat. Mauris nunc congue nisi vitae suscipit.
    Volutpat
    sed cras ornare arcu dui vivamus arcu felis bibendum. Vehicula ipsum a arcu cursus vitae congue mauris.
    Maecenas ultricies mi eget mauris pharetra et ultrices. Risus viverra adipiscing at in tellus integer
    feugiat. Molestie at elementum eu facilisis sed. Laoreet suspendisse interdum consectetur libero id
    faucibus
    nisl tincidunt. Convallis convallis tellus id interdum velit laoreet id donec. Non tellus orci ac auctor
    augue mauris augue. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Id neque
    aliquam
    vestibulum morbi blandit. Malesuada fames ac turpis egestas integer eget aliquet nibh praesent. Integer
    eget
    aliquet nibh praesent tristique magna. Sed libero enim sed faucibus. Eu nisl nunc mi ipsum faucibus
    vitae.
    Massa tincidunt dui ut ornare lectus sit amet est placerat.
</mat-card>