.blink {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function:  ease-in-out;
  animation-duration: 2000ms;
  opacity: 0;

  &.fast {
    animation-duration: 1000ms;
  }
  &.slow {
    animation-duration: 3000ms;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

